*{margin:0;padding:0;font-family:'Times New Roman', serif;}
body{background:#f5f5f5;}
.navbar{width:95%;background:#1ba8e9;padding:12px 0;display:flex;align-items:center;justify-content:space-between;border-radius:20px;box-shadow:0px 2px 8px rgba(0,0,0,0.2);margin:15px auto;}
.navbar .logo{display:flex;align-items:center;margin-left:30px;}
.navbar .logo img{width:60px;height:60px;border-radius:50%;}
.navbar ul{list-style:none;display:flex;gap:25px;margin:0;}
.navbar ul li a{text-decoration:none;font-size:22px;font-weight:bold;background:white;color:#000;padding:8px 25px;border-radius:25px;transition:0.3s;}
.navbar ul li a:hover{background:#f4a200;color:#fff;}
.navbar .btn-area{margin-right:30px;}
.navbar .btn-area a{text-decoration:none;font-size:20px;font-weight:bold;padding:8px 20px;border-radius:25px;background:#f4a200;color:white;margin-left:10px;transition:0.3s;}
.navbar .btn-area a:hover{background:#ffcd38;color:#000;}
.hero{width:100%;height:420px;background:url(home.avif);background-size:cover;background-position:center;display:flex;justify-content:center;align-items:center;flex-direction:column;color:white;text-shadow:0 2px 5px rgba(0,0,0,0.5);}
.hero h1{font-size:55px;}
.hero p{font-size:22px;margin-top:10px;}
.search-box{margin-top:25px;background:white;padding:10px 20px;border-radius:30px;width:50%;display:flex;align-items:center;}
.search-box input{width:100%;padding:12px;font-size:18px;border:none;outline:none;}
.categories{margin-top:50px;text-align:center;}
.categories h2{font-size:35px;margin-bottom:20px;}
.cat-container{display:flex;justify-content:center;gap:20px;flex-wrap:wrap;}
.cat-box{background:white;width:240px;padding:20px;border-radius:20px;box-shadow:0 2px 8px rgba(0,0,0,0.2);text-align:center;transition:0.3s;}
.cat-box:hover{transform:scale(1.05);}
.cat-box img{width:100%;height:160px;border-radius:20px;object-fit:cover;}
.cat-box h3{margin-top:10px;font-size:22px;}
.products{margin-top:60px;text-align:center;padding-bottom:50px;}
.products h2{font-size:35px;}
.product-grid{display:flex;justify-content:center;gap:25px;flex-wrap:wrap;margin-top:20px;}
.product-card{background:white;width:250px;padding:15px;border-radius:20px;box-shadow:0 3px 10px rgba(0,0,0,0.2);transition:0.3s;}
.product-card:hover{transform:scale(1.05);}
.product-card img{width:100%;height:200px;border-radius:15px;object-fit:cover;}
.product-card h4{font-size:20px;margin-top:10px;}
.product-card p{font-size:18px;color:green;margin-top:5px;}
.product-card form{margin-top:10px;}
button{background:#1ba8e9;color:#fff;border:none;padding:8px 20px;border-radius:20px;cursor:pointer;transition:0.3s;}
button:hover{background:#0d81b2;}
.about-box{max-width:900px;margin:60px auto;background:white;padding:40px;border-radius:20px;box-shadow:0 3px 10px rgba(0,0,0,0.2);}
.about-box h1{text-align:center;margin-bottom:20px;}
.about-box p{font-size:18px;line-height:1.8;color:#444;margin-bottom:15px;}
.footer{width:100%;background:darkcyan;color:white;text-align:center;padding:40px 0 20px;font-family:Arial, sans-serif;}
.footer-container{display:grid;grid-template-columns:repeat(auto-fit,minmax(200px,1fr));gap:30px;width:90%;margin:auto;}
.footer-box h3{margin-bottom:8px;}
.footer-box ul{list-style:none;padding:0;}
.footer-box ul li{margin-bottom:8px;display:flex;align-items:center;gap:10px;}
.footer-box ul li a{color:#ccc;text-decoration:none;}
.footer-box ul li a:hover{color:#f5a623;}
.footer-box ul li img{width:20px;height:20px;object-fit:contain;}
.new-foot img{margin-left:0 text-size 20% !important;}
.footer-bottom{text-align:center;margin-top:30px;border-top:1px solid #050505ff;padding-top:15px;font-size:14px;color:#fcf8f8ff;}
@media(max-width:600px){
    .footer-container{text-align:center;}
    .footer-box ul li{justify-content:center;}
}